<!doctype>
<html>
<head>
  <meta charSet="utf-8" />
  <title>webgl learn demo</title>
    <meta name="keywords" content="hockor, demo,前端,学习,总结">
    <meta name="description" content="hockor, demo,前端,学习,总结">
  <meta name='referrer' content='no-referrer' />
</head>
<body>
  <div id="root"></div>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/three.js/108/three.js"></script>
  <script src="http://cdn.demo.hockor.com/webgl/js/inflate.min.js"></script>
  <script src="http://cdn.demo.hockor.com/webgl/js/FBXLoader.js"></script>
  <script src="https://cdn.bootcss.com/stats.js/r10/Stats.min.js"></script>
  <script src="https://cdn.bootcss.com/dat-gui/0.7.1/dat.gui.min.js"></script>
  <script src="https://n.res.netease.com/qt/17/0619_threejs/lib/threejs/Detector.js"></script>
  <script src="https://n.res.netease.com/qt/17/0619_threejs/lib/threejs/OrbitControls.js"></script>
  <script src="https://n.res.netease.com/qt/17/0619_threejs/lib/threejs/Tween.js"></script>
</body>
</html>
