html,
body,
#root {
  height: 100%;
}

* { touch-action: pan-y; }
body {
  margin: 0;


}
h1 {
	text-align: center;
	margin: 20px 0;
}
#gl {
  min-width: 700px;
  min-height: 700px;
  width: 100%;
  height: 100%;
	position: relative;
}

p {
	text-indent: 2em;
}
li {

}
